<section class="featured">
  <div class="content">
    <h2 i18n="@@support-page.title">Support my work</h2>
    <div class="infos">
    </div>
  </div>
</section>
<section class="section">
  <div class="content" i18n="support page intro|A text that explain how many work is done for free">
    <p>Did you find something helpful on the blog and are feeling a little grateful today?</p>
    <p>
      I have been coding for 15+ years and love using this blog to show what I learned during
      this continuous process of being a developper! I work full-time so this blog and my open
      source projects are mainly updated on my free time which is, as a dad and husband, very precious.
    </p>
    <p>
      I love to share with you what I learn everyday for <strong>free</strong> and I am trying my best to keep it this way,
      though costs are getting higher for me and I wouldn't say no to a little help from you.
      <br>
      Your support would mean I could take days off or make more room in my schedule <strong>to offer
      you better quality content more often</strong>.
    </p>
    <p>As I don't want my website to turn into an ugly mess, you can see there no ads at all here!</p>
  </div>
</section>
<section class="section">
  <div class="content">
    <p i18n="Workload intro|Introducing paragraph about workload">
      It's often hard for people to figure out what is part of my daily workload. So, here what I do:
    </p>
    <ul>
      <li i18n="Workload blog explanation|Explaning paragraph about blog workload">
        I share my knowledge on <a href="https://blog.nathanaelcherrier.com/en/" i18n-href="Blog url|The URL of the blog">my blog</a> in the form of tech posts, tech event reports,
        product reviews and tutorials.
      </li>
      <li i18n="Workload instagram explanation|Explaning paragraph about instagram workload">
        I document my life on <a href="https://instagram.com/mindsers.it" rel="nofollow">Instagram</a>. You'll find motivational posts, "dev life"
        posts, and friendly advice for newbies.
      </li>
      <li i18n="Workload projects explanation|Explaning paragraph about oss workload">I maintain several open source projects on <a href="https://github.com/mindsers" rel="nofollow">Github</a>.</li>
    </ul>
  </div>
</section>
<section class="section">
  <div class="content">
    <p i18n="Payments intro|Introducing paragraph about payments">
      <strong>I am very grateful</strong> for the community I have build with this platform and all the emails
      you guys send me telling me how my posts or projects helped in some ways.
    </p>
    <p i18n="payments list-intro">
      Here are a few ways you can support the blog.
    </p>
    <h2 i18n="Patreon name|The title of the Patreon section on the support page">Patreon</h2>
    <p i18n="Patreon description|The introduction paragraph about Patreon">
      Patreon is an opportunity for you to support me and get a little something in exchange. You can see the rewards
      available directly on my Patreon page. It can last for as long as you desire for a minimum of 1$/month.
    </p>
    <p class="actions">
      <a class="button" href="https://www.patreon.com/bePatron?u=9715649" rel="nofollow">
        <img
          class="patreon-img"
          src="assets/img/patron_button.png"
          title="Donate with Patreon and get rewards"
          i18n-title="Patreon action button title|The title of the Patreon action button"
          alt="Become a patron button"
          i18n-alt="Patreon action button text|The alternative text of the Patreon action button"
        />
      </a>
    </p>
    <h2 i18n="One-shot payment title|The title of the one-shot payment section">One-shot payment</h2>
    <p i18n="One-shot payment description|The description paragraph for one-shot payments">
      If you don't want to be committed to a monthly subscription, you can also donate by Paypal or directly with your credit card.
    </p>
    <p class="actions">
      <a class="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YFRHFPFFT4HTW&source=url" rel="nofollow">
        <img
          class="paypal-img"
          src="assets/img/paypal_button.png"
          title="Donate with Paypal or by credit card"
          i18n-title="Paypal action button title|The title of the Paypal action button"
          alt="Donate with PayPal button"
          i18n-alt="Paypal action button text|The alternative text of the Paypal action button"
        />
      </a>
    </p>
    <h2 i18n="Crypto title|The title of the crypto section">Crypto-currencies</h2>
    <p i18n="Crypto description|The introduction paragraph for crypto">
      If you feel a little nerdy (I am SO nerdy), you can also contribute to the blog by using your crypto-currencies.
      The website supports Litecoin, Bitcoin, Ethereum and Ripple.
    </p>
    <ul>
      <li>Bitcoin (BTC): <a href="https://www.blockchain.com/fr/btc/address/3N7iAYWKz5rqdtbYJ4r1SRJHq9sEQbXHDk" rel="nofollow">3N7iAYWKz5rqdtbYJ4r1SRJHq9sEQbXHDk</a></li>
      <li>Ethereum (ETH): <a href="https://etherscan.io/address/0x30b42b1487262fe55ad8cdf046342ab6bf4d4e73" rel="nofollow">0x30B42B1487262fE55aD8CDF046342AB6bF4d4e73</a></li>
      <li>Ripple (XRP): <a href="https://xrpscan.com/account/rUwDYme9YMzNo8ufvgKE7VET1QgbKgJuGT" rel="nofollow">rUwDYme9YMzNo8ufvgKE7VET1QgbKgJuGT</a></li>
      <li>Litcoin (LTC): <a href="https://litecoinblockexplorer.net/address/MU47RMv5KGHiBU8Kw5PNPbn3cyFLjmQXPt" rel="nofollow">MU47RMv5KGHiBU8Kw5PNPbn3cyFLjmQXPt</a></li>
    </ul>
    <p i18n="Brave description|Crypto payments can be done using Brave browser">
      You can also send some Basic Atention Token (BAT) using the Brave browser. It is easier and secure. You just have <a href="https://brave.com/nat558" rel="nofollow">to install the browser</a> and start using it.
      When you are on my website you can choose to send a tip to me by clicking on the icon of BAT in the address bar. <a href="https://youtu.be/iJwLxeKxp3k" rel="nofollow">Here is a video</a> to better show you how to do so.
    </p>
    <br>
    <p i18n="Support without money|Even if people don't have money they can support us">
      Can't support my blog with money? Please do share on social media the posts you appreciate!
      It helps tremendously.
    </p>
  </div>
</section>
