<section class="featured">
  <div class="content">
    <h2 i18n="@@support-page.title">Please give me money</h2>
    <div class="infos">
    </div>
  </div>
</section>
<section class="section">
  <div class="content">
    <p>Did you find something helpful on the blog and are feeling a little grateful today? </p>
    <p>
      I have been coding for 15+ years and love using this blog to show what I learned during 
      this continuous process of being a developper! I work full-time so this blog and my open 
      source projects are mainly updated on my free time which is, as a dad and husband, very precious.
    </p>
    <p>
      I love to share with you what I learn everyday for <strong>free</strong> and I am trying my best to keep it this way,
      though costs are getting higher for me and I wouldn't say no to a little help from you.
      <br>
      Your support would mean I could take days off or make more room in my schedule <strong>to offer 
      you better quality content more often</strong>.
    </p>
  </div>
</section>
<section class="section">
  <div class="content">
    <p>
      It's often hard for people to figure out what is part of my daily workload. So, here what I do:
    </p>
    <ul>
      <li>
        I share my knowledge on my blog in the form of tech posts, tech event reports, 
        product reviews and tutorials.
      </li>
      <li>
        I document my life on <a href="https://instagram.com/mindsers.it" rel="nofollow">Instagram</a>. You'll find motivational posts, "dev life" 
        posts, and friendly advice for newbies.
      </li>
      <li>I maintain several open source projects on github.</li>
    </ul>
  </div>
</section>
<section class="section">
  <div class="content">
    <p>
      <strong>I am very grateful</strong> for the community I have build with this platform and all the emails 
      you guys send me telling me how my posts or projects helped in some ways.
    </p>
    <p>
        Here are a few ways you can support the blog.
    </p>
    <h2> Patreon</h2>
    <p>Patreon is an opportunity for you to support me and get a little something in exchange. You can see the rewards available directly on my Patreon page. It can last for as long as you desire for a minimum of 1$/month.</p>
    <h2> One-shot payment</h2>
    <p>If you don't want to be committed to a monthly subscription, you can also donate by Paypal or directly with your credit card.</p>
    <h2> Crypto-currencies</h2>
    <p>If you feel a little nerdy (I am SO nerdy), you can also contribute to the blog by using your crypto-currencies. The website supports Litecoin, Bitcoin, Ethereum and Ripple. </p>
    <ul>
      <li>Bitcoin (BTC): <a href="https://www.blockchain.com/fr/btc/address/3N7iAYWKz5rqdtbYJ4r1SRJHq9sEQbXHDk" rel="nofollow">3N7iAYWKz5rqdtbYJ4r1SRJHq9sEQbXHDk</a></li>
      <li>Ethereum (ETH): <a href="https://etherscan.io/address/0x30b42b1487262fe55ad8cdf046342ab6bf4d4e73" rel="nofollow">0x30B42B1487262fE55aD8CDF046342AB6bF4d4e73</a></li>
      <li>Ripple (XRP): <a href="https://xrpscan.com/account/rUwDYme9YMzNo8ufvgKE7VET1QgbKgJuGT" rel="nofollow">rUwDYme9YMzNo8ufvgKE7VET1QgbKgJuGT</a></li>
      <li>Litcoin (LTC): <a href="https://litecoinblockexplorer.net/address/MU47RMv5KGHiBU8Kw5PNPbn3cyFLjmQXPt" rel="nofollow">MU47RMv5KGHiBU8Kw5PNPbn3cyFLjmQXPt</a></li>
    </ul>
    <br>
    <p>
      Can't support my blog with money? Please do share on social media the posts you appreciate! 
      It helps tremendously.
    </p>
  </div>
</section>
