<section>
  <div class="content">
    <h1 i18n="@@legal.title">Legal notices</h1>
    <h2 i18n="@@legal.editor.title">Editor</h2>
    <p i18n="@@legal.editor.name">
      The website "nathanaelcherrier.com" is edited by the company <strong>MindsersIT</strong>.
    </p>
    <p i18n="@@legal.editor.structure">
      Legal structure: "Profession libérale"<br>
      RCS de Lyon n°SIREN 841 104 052
    </p>
    <p i18n="@@legal.editor.contact">
      155b rue Marcel Merieux - 69007 Lyon - France<br>
      + 33 (0) 6 58 62 44 21<br>
      <a [href]="['contact']">Contact email</a>
    </p>

    <h2 i18n="@@legal.publishing.title">Publishing Director</h2>
    <p i18n="@@legal.publishing.name">Mr. Nathanaël Cherrier</p>

    <h2 i18n="@@legal.host.title">Host</h2>
    <p i18n="@@legal.host.name">
      The website is hosted by OVH, SAS
    </p>
    <p>
      RCS de Lille n°SIREN 424 761 419<br>
      2 rue Kellermann - 59100 Roubaix - France
    </p>
  </div>
</section>
