<section class="featured">
  <div class="content">
    <h2 i18n>I'm an influencer</h2>
    <div class="definition">
      <p class="kind" i18n="Word information"><span class="phonetic">/ˈɪnflʊənsə/</span> noun</p>
      <p class="definition-text" i18n="Word definition">
        A person with the ability to influence potencial buyer of a product or service<br>by promoting or recommending the items on social media.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="content">
    <p>
      Since I first created this website in 2011 and then the blog, the social media, etc,
      I was able to create a community of thousand of people.
    </p>
  </div>
</section>
