.contact {
  width: 1200px;
  margin: auto; padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &> div {
    &.flash {
      .message {
        padding: 10px; margin: 10px auto;
        border: 1px solid transparent;
        border-radius: 3px;
        text-align: center;

        &.error {
          border-color: #e74c3c;
          color: #e74c3c;
        }

        &.success {
          border-color: #1abc9c;
          color: #1abc9c;
        }
      }
    }

    &.contact-body {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      &> div {
        margin: 10px 50px;

        &.text {
          h2 {
            margin: 35px 0;
          }

          p {
            margin: 15px 0;
          }
        }

        &.form {
          width: 500px;

          .required-star {
            color: #e74c3c;
          }

          .actions {
            text-align: center;
            margin: 20px 0;
          }

          input, textarea {
            transition: border 0.7s, background-color 0.7s;
            padding: 5px;
            font-size: 1em;
            min-width: 100%;
            box-sizing: border-box;
            border-width: 0 0 2px 0;
            border-style: solid;
            border-color: gray;
            margin: 15px 0;
            outline: none;

            &:focus {
              border-color: #1B9CFC;
            }
          }

          input[type="submit"] {
            transition: background 0.5s, color 0.5s;
            width: fit-content; min-width: fit-content;
            border: 1px solid #2980b9;
            color: #2980b9;
            padding: 10px 20px;
            border-radius: 3px;

            &:not([disabled]):hover {
              background: #1B9CFC;
              border-color: transparent;
              color: white;
            }

            &[disabled] {
              color: lightgray;
              border-color: gray;
            }
          }

          textarea {
            background-color: rgba(lightgray, 0.3);

            &:focus {
              background-color: rgba(#1B9CFC, 0.1);
            }
          }

          .error-field {
            .error {
              color: #e74c3c;
              font-size: 0.8em;
              margin-bottom: 15px;
            }

            input, textarea {
              border-color: #e74c3c;
            }

            textarea:focus {
              background-color: rgba(#e74c3c, 0.1);
            }
          }
        }
      }
    }
  }
}
