.popin-background {
  display: flex;
  justify-content: space-around;
  align-content: center; align-items: center;
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-color: rgba(black, 0.4);

  .popin-box {
    width: fit-content; height: fit-content;
    max-height: calc(100vh - 60px); max-width: calc(100vw - 60px);
    margin: 50px; padding: 20px;
    background-color: white;
    border-radius: 5px;
    animation: popin 0.5s linear;
  }

  &.hidden {
    display: none;
  }
}

@keyframes popin {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg)
  }

  50% {
    transform: rotate(0deg)
  }

  75% {
    transform: rotate(-10deg)
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
