// p {
//   margin: 15px;
// }

.actions {
  text-align: center;

  .btn {
    transition: background-color 0.4s, border 0.4s, color 0.4s;
    border: 1px solid #2980b9;
    border-radius: 3px;
    margin-top: 20px; padding: 8px 15px;
    color: #2980b9;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background: #1B9CFC;
      color: white;
      border-color: transparent;
    }
  }
}
