<section class="featured">
  <div class="content">
    <h2 i18n>I'm a writer</h2>
    <div class="definition">
      <p class="kind" i18n="Word information"><span class="phonetic">/ˈrʌɪtə/</span> noun</p>
      <p class="definition-text" i18n="Word definition">
        A person who writes technical content.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="content" i18n>
    <p>
      Since 2011, I write and create technical content for developers.
      I started to write on this website and on <a href="https://blog.nathanaelcherrier.com">the linked blog</a>.
      Then I was asked to write for other platforms/websites/blogs/publications and in several formats.
    </p>
    <p>
      I love to help people level up their technical skills just as I did using the free resources available on the internet at my time.
      That's why most of my tutorials are free on <a href="https://blog.nathanaelcherrier.com">blog.nathanaelcherrier.com</a>.
    </p>
  </div>
</section>
<section class="section">
  <div class="content" i18n>
    <p>
      Currently, you can find more than 150 blog posts on blog.nathanaelcherrier.com. Here is some of my favorites:
    </p>
    <ul>
      <li><a href="https://blog.nathanaelcherrier.com/fr/gitflow-la-methodologie-et-la-pratique/">GitFlow : la méthodologie et la pratique</a> (French)</li>
      <li><a href="https://blog.nathanaelcherrier.com/en/advice-great-code-review/">Some advice to do a great code review</a> (English)</li>
      <li><a href="https://blog.nathanaelcherrier.com/fr/les-meilleurs-commentaires-ne-secrivent-pas/">Les meilleurs commentaires ne s'écrivent pas</a> (French)</li>
      <li><a href="https://blog.nathanaelcherrier.com/en/diversity-tech-industry/">I wish there was more diversity in the tech industry</a> (English)</li>
    </ul>
  </div>
</section>
<section class="section">
  <div class="content" i18n>
    <p>
      As part of my work of other publications, you can find those links:
    </p>
    <ul>
      <li><a href="https://www.welcometothejungle.com/fr/collections/behind-the-code/career-hacking/articles/successful-personal-blog-developer" rel="nofollow">How to Create a Personal Blog as a Developer</a> (English)</li>
      <li><a href="https://www.welcometothejungle.com/fr/collections/behind-the-code/coder-stories/articles/git-merge-2019-recap" rel="nofollow">Git Merge 2019: A Recap</a> (English)</li>
    </ul>
  </div>
</section>
<section class="section">
  <div class="content" i18n>
    <p>
      Want to work with me? I'll be glad to help you produce the content your publication deserve.
    </p>
    <p>
      You can find my exact pricing as a <a [routerLink]="['..', 'contractor']">contractor</a> on the dedicated page
      but it is mostly a 200€ per article.
    </p>
    <p class="actions">
      <a class="more" [routerLink]="['..', 'contact']">Contact me</a>
    </p>
  </div>
</section>
