<section class="featured">
  <div class="content">
    <h2 i18n>I'm a contractor</h2>
    <div class="definition">
      <p class="kind" i18n="Word information"><span class="phonetic">/kənˈtraktə/</span> noun</p>
      <p class="definition-text" i18n="Word definition">
        A person who is self-employed and hired to work for different companies<br>
        on particular assignments.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="content" i18n>
    <p>
      First of all, I'm a Javascript and Swift Full Stack Lead Developer. I can help you with you Javascript or Swift development project.
      Either for frontend or backend development.
    </p>
    <p>
      But my activities as a freelancer and contractor aren't restrained to only coding stuff!
    </p>
    <p>
      Companies also contact me for content creation work, influencer marketing work,
      training their employees or alumni, or speak at their conferences.
    </p>
  </div>
</section>
