<header>
  <div class="content">
    <div class="title">
      <img src="assets/img/logo.svg" alt="MindsersIT logo">
      <h1><a routerLink="/">Nathanaël Cherrier</a></h1>
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="https://blog.nathanaelcherrier.com" i18n>Blog</a></li>
          <li><a [routerLink]="['/', 'resume']" i18n>Resume</a></li>
          <li><a i18n>Portfolio</a></li>
          <li><a i18n>Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="shop">
      <a routerLink="/" i18n>Shop</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="content">
    <div class="items">
      <div class="item">
        <h2 i18n>Itunes Store</h2>
        <ul>
          <li><a href="https://itunes.apple.com/us/app/european-converter/id824107489?mt=8">European Converter</a></li>
          <li><a href="https://itunes.apple.com/us/app/checkyourvat/id862501089?mt=8">CheckyourVAT</a></li>
          <li><a href="https://itunes.apple.com/us/app/flight-companion/id890826910?mt=8">Flight Companion</a></li>
        </ul>
      </div>
      <div class="item">
        <h2 i18n>Open Source</h2>
        <ul>
          <li><a href="https://github.com/Mindsers/configfile">Configfile</a></li>
          <li><a href="https://github.com/Mindsers/nativetable">Nativetable</a></li>
        </ul>
      </div>
      <div class="item">
        <h2 i18n>Social</h2>
        <ul>
          <li><a href="https://twitter.com/MindsersIT">Twitter</a></li>
          <li><a href="https://www.facebook.com/MindsersIT">Facebook</a></li>
          <li><a href="https://plus.google.com/u/0/b/117748851621697236514/+NathanaelcherrierMindsersIT/posts">Google +</a></li>
          <li><a href="https://github.com/Mindsers">Github</a></li>
        </ul>
      </div>
    </div>
    <p class="copyright" i18n>
        ©2014 Nathanaël Cherrier. All rights reserved.
    </p>
  </div>
</footer>
