<section class="featured">
  <div class="content">
    <h2 i18n>Lead JavaScript and<br>iOS developer</h2>
    <div class="infos">
      <div>
        <h3 i18n>Contact</h3>
        <p>
          +33 (0) 658 62 44 21<br>
          dev@nathanaelcherrier.com<br>
          https://nathanaelcherrier.com<br>
        </p>
      </div>
      <div>
        <h3 i18n>Social</h3>
        <p>
          <a href="https://www.facebook.com/MindsersIT"><img class="logo" src="assets/img/facebook.svg" alt="Facebook logo"></a>
          <a href="https://twitter.com/MindsersIT"><img class="logo" src="assets/img/twitter.svg" alt="Twitter logo"></a>
          <a href="https://www.instagram.com/mindsers.it/"><img class="logo" src="assets/img/instagram.png" alt="Instagram logo"></a>
          <a href="https://github.com/Mindsers"><img class="logo" src="assets/img/github.svg" alt="Github logo"></a>
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="content">
      <h3 i18n>My professional experiences</h3>
      <div class="exp" *ngFor="let exp of displayedExperiences">
        <h4>
          <span>{{ exp.title }}</span>
          <span>
            {{ !exp.duration.end ? 'since' : '' }}
            {{ exp.duration.start }}
            {{ exp.duration.end ? '- ' + exp.duration.end : '' }}</span>
        </h4>
        <p>{{ exp.description }}</p>
        <p i18n="Experience location|For example: For Econocom at Lyon">
          For <a [href]="exp.link" *ngIf="exp.link">{{ exp.company }}</a> <ng-container *ngIf="!exp.link">{{ exp.company }}</ng-container>
          at {{ exp.location }}
        </p>
      </div>
      <div class="empty-message" *ngIf="displayedExperiences.length < 1">
        <p i18n>
          No experiences to show. Maybe webservices don't work as exepected.
        </p>
      </div>
      <p class="actions">
        <a class="btn" *ngIf="displayedExperiences.length >= 3" (click)="toogleExperiences(3)">{{ displayedExperiences.length <= 3 ? 'More' : 'Less' }} experiences</a>
      </p>
  </div>
</section>
<section>
  <div class="content">
      <h3 i18n>My studies</h3>
      <div class="study" *ngFor="let study of displayedStudies">
        <h4><span>{{ study.graduation }}</span><span>{{ study.duration.start }} - {{ study.duration.end }}</span></h4>
        <p i18n="Graduation sender|For example: From Lycée Blabla at Lyon">From {{ study.school }} at {{ study.location }}</p>
        <ul>
          <li *ngFor="let event of study.events">{{ event.title }}, {{ event.year }}</li>
        </ul>
      </div>
      <div class="empty-message" *ngIf="displayedExperiences.length < 1">
        <p i18n>
          No study informations to show. Maybe webservices don't work as exepected.
        </p>
      </div>
  </div>
</section>
<section>
  <div class="content">
      <h3 i18n>My skills</h3>
      <div class="skills" *ngIf="displayedSkills.length > 0">
        <div class="skill" *ngFor="let skill of displayedSkills">
          {{ skill }}
        </div>
      </div>
      <div class="empty-message" *ngIf="displayedSkills.length < 1">
        <p i18n>
          No skill to show. Maybe webservices don't work as exepected.
        </p>
      </div>
  </div>
</section>
<section>
  <div class="content">
    <h3 i18n>Other details you may want to know</h3>
    <div class="other">
      <p i18n>
          My second passion, right after development, is science. Especially stars' science ( astrophysics and cosmology) and life sciences (biology).
      </p>
      <p i18n>
          If you mix these two passions, you get bio-informatics. I never tried it but it looks really appealing.
      </p>
      <p i18n>
          Besides that, I really like swimming (but I don't practice it very much) and I write a few blog posts. I play the guitar and a little bit of piano when I feel like it.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="content">
    <p i18n>
        The information on this web or PDF version of my resume are updated regularly but the PDF version is not exactly the same. For evident reasons, the PDF resume is shorter and less detailed than the web version, some information might not appear there.
    </p>
    <p class="actions">
        <a class="btn" (click)="openResumeFile()" i18n>Download the PDF version</a>
    </p>
  </div>
</section>
