* {
  font-family: 'Inconsolata', monospace;
  margin: 0; padding: 0;
}

.content {
  width: 1024px;
  margin: 0 auto; padding: 0;
}

@media screen and (max-width: 800px) {
    .content {
      max-width: 750px;
    }
}
