.featured {
  background: linear-gradient(70deg, #1B9CFC, #25CCF7);
  padding: 150px 50px;

  h2 {
    text-align: right;
    color: white;
    font-weight: bolder;
    font-size: 4em;
    font-family: 'Source Code Pro', monospace;
  }
}

.section {
  padding: 30px;

  p {
    margin: 15px 0; padding: 5px;
    font-size: 1.5em;

    strong {
      text-decoration: underline;
    }

    a {
      color: rgba(0, 118, 223, 1);
      background-color: rgba(0, 118, 223, 0.2);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.more {
        text-transform: lowercase;
        background-color: transparent;

        &::before {
          content: '</'
        }

        &::after {
          content: '>'
        }
      }
    }

    &.actions {
      text-align: center;
    }
  }

  &.instagram {
    background-color: rgb(245, 245, 245);

    .followers {
      text-align: center;
      font-size: 2.5em;

      img {
        height: 40px;
        vertical-align: bottom;
      }
    }

    .pictures {
      margin: 25px 0;
      display: flex;
      justify-content: space-between;

      img {
        border: 5px solid white;
        border-radius: 3px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 15px 0;

      li {
        list-style: none;
        font-size: 1.1em;

        a {
          color: rgba(0, 118, 223, 1);
          text-decoration: none;

          img {
            height: 30px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  section {
    padding: 20px;

    &.featured {
      padding: 150px 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  section {
    padding: 10px;

    &.featured {
      padding: 150px 10px;
    }

    &.instagram .pictures img {
      width: 225px;
      height: 225px;
    }
  }
}

@media screen and (max-width: 450px) {
  section {
    padding: 10px;

    &.featured {
      padding: 40px 10px;

      h2 {
        font-size: 2em;
      }
    }

    &.instagram {
      .pictures {
        display: none !important;
      }

      ul {
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-around;

        li {
          margin: 15px;
          text-align: center;
        }
      }
    }
  }
}
